body {
  background: url('media/background-image.webp') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 29px 16px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  width: calc(100% - 4rem);
  max-width: 768px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
  margin: auto;
  outline: 2px solid white;
  border-radius: 4px;
  outline-offset: 4px;
}
section {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
section:first-child {
  margin-top: 0;
}
.main-title {
  color: #d49494;
  font-family: Parisienne;
  font-size: 7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  filter: drop-shadow(9px 8px 4px rgba(0, 0, 0, 0.25));
  margin-left: -10px;
  position: relative;
  left: -10px;
}
.main-title span {
  font-size: 4rem;
  margin-left: -10px;
}

.main-subtitle {
  color: #b95c50;
  font-family: Cinzel;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 0;
  margin-top: -18px;
}

p.frase1 {
  color: #b95c50;
  font-family: Parisienne;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 0;
  margin-top: 30px;
}
.title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.title {
  color: #000000;
  text-shadow: 6px 4px 3px rgba(0, 0, 0, 0.25);
  font-family: Parisienne;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  width: 100%;
  min-width: max-content;
  flex-basis: 0;
}
.footer-title {
  color: #000000;
  text-shadow: 6px 4px 3px rgba(0, 0, 0, 0.25);
  font-family: Parisienne;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  width: 100%;
}

.deco-line {
  width: 100%;
  height: 1px;
  background: #000;
  box-shadow: 3px 4px 3px 0px rgba(0, 0, 0, 0.25);
}

.subtitle {
  color: #00000097;
  /* text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.25); */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  margin: 0;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

a,
button,
.button {
  border-radius: 40px;
  background: #be5f5f;
  text-decoration: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-top: 1.5rem;
  align-items: center;
}
.button .xs {
  font-size: 9px;
}

/* slider carousel */
.carousel {
  position: relative;
  width: calc(100% + 4rem);
  max-width: 600px;
  overflow: hidden;
  margin: 2rem auto;
  left: -2rem;
}
@media screen and (min-width: 768px) {
  .carousel {
    width: calc(100% + 4rem);
    max-width: max-content;
    left: -2rem;
  }
}

.carousel-track {
  display: flex;
  gap: 30px; /* Add gap between photos */
  transition: transform 0.8s linear; /* Slow down animation speed */
  will-change: transform;
}

.carousel-image {
  width: 100%;
  max-width: 200px; /* Set max-width for each image */
  /* max-width: 250px; Set max-width for each image */
  height: auto;
  flex-shrink: 0;
  border-radius: 12px; /* Add border radius */
}

.carousel-button {
  display: none; /* Hide navigation buttons */
}

.copy-message {
  margin-top: 10px;
  color: #ff3a8c;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  animation: fadeOut 2s forwards;
  position: absolute;
  top: auto;
  bottom: -3rem;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
